.input-field-wrap {
    margin: 1.5rem 0;
}

label {
    font-size: 1.25rem;
    font-weight: 600;
}

.input-btn-wrap{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-top: 0.75rem;
}

.input-field {
    width: 100%;
    height: 54px;
    line-height: 1;
    border: 1.5px solid #BBBBBB;
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 0 1.5rem;
    color: black;
    background-color: #f9f9f9;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input-btn {
    width: 144px;
    height: 54px;
    line-height: 1;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #1472FF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.response-wrap {
    padding: 1.25rem;
    border-radius: 5px;
    background-color: #F1F1F1;
    font-size: 1rem;
  }
  
.response-header-wrap {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.response-title-wrap {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.response-success-code {
    color: #1AB101;
}

.response-error-code {
    color: #FF4545;
}

.clear-btn-wrap {
    cursor: pointer;
}

.response-body-wrap {
    color: #888;
}

.response-body-wrap pre {
    width: 100%;
    overflow-x: scroll;
}